@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Urbanist', sans-serif !important;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.caixa_geral {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.8%;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 4%;
    background: #ffffff;
    border-radius: 2%;
    padding: 2.5%;
    width: 80%;
}

#saibamais {
    font-size: 150%;
    color: #FFFF;
    margin-top: 8%;
}

.card_esquerda {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

#titulo_card {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.90em;
    color: #000;
}

#seta{
    width: 2.68em;
    height: 2.68em;
}

.card_esquerda p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #555;
}

.card_direito {
    flex: 0.6;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    padding: 1.25em;
    position: relative; 
    gap: 1.25em; 
}

.card_direito p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}


.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 1%;            
}

.perfil img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    text-align: left; 
    max-width: 32.75em; 
}

.info span {
    display: block;
    margin-bottom: 2%;
}

.info b {
    font-size: 1.8em;
    color: #333;
}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info button {
    background-color: #e89c51;
    color: white;
    border: none;
    border-radius: 12%;
    padding: 2% 4%;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info button:hover {
    background-color: #764a1f;
}

.card_direito img:not(#dev-photo) {
    height: auto;
    align-self: center; 
}


.footer {
    width: 100%;
    height: 40em;
    background-image: url('../images/about/Group 58.png');
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10% 12%;
    flex-wrap: wrap;
    box-sizing: border-box;
    transition: all 0.5s ease;
    margin-top: 6%;
    padding-top: 5%;
}
.footer:hover {
    margin-top: 0%;
    width: 100%;
    height: 40em;
    background-image: url('../images/about/Group 58.png');
    opacity: 0.9;
    color: #ffffff;
}


.footer_coluna {
    flex: 1 1 30%;
    min-width: 36em;
    margin-bottom: 1.25em;
}

.footer_coluna b {
    font-size: 170%;
    font-weight: bold;
}

.footer_coluna span {
    display: block;
    margin-top: 1%;
    font-size: 140%;
}

.footer_coluna img {
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    margin-right: 2%;
}



