@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    
}

body {
    margin: 0;
    padding: 20px; /* Margem de 20px ao redor de toda a tela */
    box-sizing: border-box; /* Garante que o padding/margin seja aplicado corretamente */
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #3b7e48;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-bottom: 50px;
    width: 67%;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
}

.search-button {
    background-color: #E19355;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #d17f3f;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.search-bar > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.referencia, .distancia, .tipo, .avaliacao {
    display: none;
}

.accommodation-section {
    margin-bottom: 40px;
}

.accommodation-section h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.accommodation-section p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.accommodations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.accommodation-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.referencia .distancia .tipo .avaliacao {
    position: relative;
    display: inline-block;
}

.referencia {
    align-items: center;  
    border-radius: 40px / 50%;
    width: 140px;
    height: 80px;
}

.referencia a {
    display: flex; /* Garante que o link ocupe toda a área do botão */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: black;
    width: 100%; /* Faz o link preencher a referência */
    height: 100%; /* Faz o link preencher a referência */
    font-size: 15px;
}

.referencia:hover {
    background-color: rgba(90, 145, 124, 0.7);
    align-items: center;  
    opacity: 0.7;
    border-radius: 40px / 50%;
    width: 140px;
    height: 80px;
    transition: all 0.7s ease; 
}

/* Estilo da sobreposição */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Escurece o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

/* Estilo do conteúdo da sobreposição */
.overlay-content {
    background-image: url('../images/main_scream/Rectangle\ 90.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 17%; /* Largura reduzida para 25% da tela */

    height: 100vh; /* Ocupa 100% da altura da tela */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 0; /* Bordas retas */
    position: fixed;
    top: 0;
    right: 0;
    margin: 0; /* Remove margens padrão */
    
}

/* Estilo da imagem dentro da sobreposição */
.overlay-content img {
    width: 100%; /* Faz a imagem ocupar toda a largura disponível */
    height: auto;
    border-radius: 35px;
    margin-bottom: -10px; /* Espaçamento entre a imagem e o botão */
}

/* Botão dentro da sobreposição */
.overlay-content .close-btn {
    position: absolute;
    top: 0px;       /* Distância do topo */
    right: -60px;     /* Distância da direita */
    padding: 6px 8px;
    background-color: #E19355;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 35px;
    
    text-align: center;
    transition: background-color 0.3s ease;
    border: 2px solid #E19355;
    box-sizing: border-box;
}


.overlay-content .close-btn:hover {
    background-color: #b4693d;
}

.distancia {
    align-items: center;
    border-radius: 35% / 55%;
    width: 140px;
    height: 80px;
}

.distancia a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: black;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.distancia:hover {
    background-color: rgba(90, 145, 124, 0.7);
    align-items: center;
    opacity: 0.7;
    border-radius: 35% / 55%;
    width: 140px;
    height: 80px;
    transition: all 0.7s ease;
}

/* Slider Container */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

/* Estilo do Slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 6px;
    background: linear-gradient(to right, #E19355 39%, #dfdfdf 39%);
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
    position: relative;
}

/* Estilo do bullet (thumb) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #E19355;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #E19355;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo geral do overlay */
.overlay-content h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

#slider-value {
    font-size: 16px;
    color: #333;
}

.tipo {
    align-items: center;  
    border-radius: 22% / 55%;
    width: 230px;
    height: 80px;
}

.tipo a {
    display: flex; /* Garante que o link ocupe toda a área do botão */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: black;
    width: 100%; /* Faz o link preencher a referência */
    height: 100%; /* Faz o link preencher a referência */
    font-size: 15px;
}

.tipo:hover {
    background-color: rgba(90, 145, 124, 0.7);
    align-items: center;  
    opacity: 0.7;
    border-radius: 22% / 55%;
    width: 230px;
    height: 80px;
    transition: all 0.7s ease; 
}

.avaliacao {
    align-items: center;  
    border-radius: 35% / 55%;
    width: 140px;
    height: 80px;
}

.avaliacao a {
    display: flex; /* Garante que o link ocupe toda a área do botão */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */
    color: black;
    width: 100%; /* Faz o link preencher a referência */
    height: 100%; /* Faz o link preencher a referência */
    font-size: 15px;
}

.avaliacao:hover {
    background-color: rgba(90, 145, 124, 0.7);
    align-items: center;  
    opacity: 0.7;
    border-radius: 35% / 55%;
    width: 140px;
    height: 80px;
    transition: all 0.7s ease; 
}

.image-info {
    position: relative;
    display: inline-block;
    background-color: #d9d9d9;
}

.image-info img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; 
}

.image-info:hover img {
    opacity: 0.26; 
}


.image-info::after {
    content: url("../images/lupa-preta.png"); /* Caminho da imagem da lupa */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a lupa */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.8s ease; /* Suaviza a aparição da lupa */
}

.image-info:hover::after {
    opacity: 1; /* Torna a lupa visível ao passar o mouse */
}


.accommodation-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.accommodation-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.accommodation-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation-details {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.price {
    font-weight: bold;
    color: #3b7e48;
    font-size: 16px;
    margin-top: 10px;
}

.price span {
    font-size: 12px;
    color: #777;
}

.rating {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.perfil {
    position: absolute; /* Para poder controlar a posição */
    top: 40px; /* Posiciona no topo */
    right: 40px; /* Alinha à direita */
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 2; /* Coloca acima da navbar */
}

.perfil-foto img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fbb034;
    object-fit: cover;
}

.perfil-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajusta o alinhamento interno para o lado esquerdo */
}

.perfil-infos h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.perfil-infos p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

/* #################### */

/* Estilo da overlay e do conteúdo do perfil */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}




/* Botão de sair (canto superior direito) */
.perfil-editar img:last-child {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10px, 10px);
    width: 45px;
    height: 24px;
    cursor: pointer;
}

.botao-sair {
    padding-left: 200px;
}

#divide {
    height: 3px;
    width: 220px;
}



/* Divisores (linhas verdes) */
.divisao img {
    width: 100%;
    height: 2px;
    background-color: #00c853;
    margin: 10px 0;
}



.botoes-superior {
    display: flex;
    margin-top: -40px;
    margin-bottom: -30px;
    flex-direction: column;   /* Coloca os botões um abaixo do outro */
    align-items: flex-start;  /* Alinha os botões no canto esquerdo */
    gap: 10px;                /* Espaço entre os botões */
    padding: 10px;            /* Espaço interno opcional */
    width: fit-content;       /* Ajusta o container ao conteúdo */
}

.botoes-superior {
    display: flex;
    flex-direction: column;   /* Um embaixo do outro */
    align-items: flex-start;  /* Alinha à esquerda */
    gap: 12px;
    padding: 10px;
    width: fit-content;
    margin-top: -40px;
    margin-bottom: -30px;
}

.botao-superior {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    gap: 8px;  /* Espaço entre ícone e texto */
}

.botao-superior p {
    margin: 0;
    font-size: 10px;
    color: white;
    line-height: 1.2;
    white-space: nowrap;
}

.icone-botao {
    width: 20px;   /* Ajuste aqui o tamanho padrão dos ícones */
    height: 20px;
    object-fit: contain;
}

/* ################# */


.perfil-editar {
    position: relative; /* Container pai deve ser relativo */
    padding-left: 15px; /* Compensa o margin-left da imagem */
}

.perfil-editar img:first-child {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute; /* Fixa a imagem */
    left: -50px; /* Move para a esquerda */
    top: -10px; /* Alinha verticalmente */
    margin: 0; /* Remove margens padrão */
}
.perfil-nome {
    margin-bottom: 4px; /* reduz o espaço entre nome e e-mail */
    font-size: 14px;
    color: white;
}

.email {

    font-size: 8px;
    color: #ccc;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

